/* === AUTO SLIDE MINI CARDS === */

.relationships-grid-slide {
    overflow: hidden;
    position: relative;
}

.relationships-grid-slide.expanded {
    animation: auto-slide-cards 50s linear infinite;
    width: max-content;
}

/* Pausa ao passar o mouse (opcional, mas recomendado) */
.relationships-grid-slide.expanded:hover {
    animation-play-state: paused;
}

@keyframes auto-slide-cards {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
    }
    100%
    { 
        transform: translateX(0);
    }
}
